{
    "presets": ["babili",["latest", { "es2015": { "modules": false } }]],
    "env": { "test": { "presets": ["babili",["latest"]] } },
    "plugins": [["module-resolver", {
            "root": ["./"],
            "alias": {
              "src": "./src",

            }
        }],
    ],
}
